.movie-database-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* Responsive grid with minimum item width of 250px */
  gap: 20px;
  margin-top: 30px;
}

.movie-item {
  padding: 10px;
  cursor: pointer;
}

.movie-item:hover {
  opacity: 70%;
}

.title {
  font-size: 16px;
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.movie-item p {
  margin-bottom: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  flex-grow: 1;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #0056b3;
}

.poster {
  max-width: 280px;
  /* Ensure the poster image spans the entire width of its container */
  max-height: 400px;
  min-height: 400px;
}

.link {
  color: hotpink;
}

@media screen and (max-width: 412px) {
  .movie-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Adjust grid for smaller screens */
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr 1fr));
    /* Adjust grid for smaller screens */
  }
}